/* Todos las imagenes de cada html*/
.header__logo{
    display: block;
    width: 7%;
    margin-left: 65%;
    margin-top: 13%;
    animation-duration: 8s;
    animation-name: logo;
    animation-iteration-count: infinite;
}

.header__proAnglers{
    @include colorletra ;
    margin-left: 63.5%;
    margin-top: -1%;
   
}
.grid__imagen{
    border-radius: 5px 5px 0 0;   
    width:100%;
    padding: 0px; 
    object-fit: cover;
    display: block;   
}
.grid2__imagen{
   margin-left: auto;
   margin-right: auto;
   display: block;
    width: 21.5em;
    height: 35.063em;
    
}
@keyframes logo {
    0% {
        opacity: 0;
        }
    50% {
        opacity: 1;
        }
    100% {
      opacity: 0;
        }
}
.grid__imagen1{
    border-radius: 5px;   
    width: 15em;
    padding: 0px; 
    object-fit: cover;
    display: block;
    
}
img{ 
    width: 100%;
}
.grid1__iconos{
    width: 20px;
}
/* Mixins */ 
@mixin img {
  
    margin-bottom: 1.2em;
    margin-top: 1.2em;
}
.container__img{
   @include img;
    float: left;
    margin-right: 1.2em;
    width: 19em,

    
}
.container__img1{
    @include img;
    float: right;
    margin-left: 1.2em;
    width: 15em;
  
}
#button-navbar{
    color: white;
    background-color:#ffffff;
}
.footer__iconos{
    width: 30px;
    margin-top: 3px;
    margin-left: 8px;
    transition: all 1s ease;
    &:hover{
       transform: scale(1.1, 1.1)
}
}